body {
    margin: 0;
    font-family: "Noto Sans Ethiopic", Arial;
    background: cornflowerblue;
}

/* HEADER */
header {
    background: #333;
    color: white;
    text-align: center;
    padding: 15px;
}

.logo {
    width: 80px;
}

/* NAV */
nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 10px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a {
    position: relative;
    color: white;
}

nav a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background: orange;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

nav a:hover::after {
    width: 100%;
}

/* SECTIONS */
section {
    padding: 40px;
    text-align: center;
    color: #333;
    font-size: 16px;

}

/* GRID LAYOUT */
.service-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

/* CARD BASE */
.card {
    background: #f4f4f4;
    border-radius: 10px;
    padding: 10px;
    transition: 0.3s;
    text-align: center;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 1 / 1;
    object-fit: cover;
    cursor: pointer;
    border-radius: 10px;
}
/* DIFFERENT STYLES */
.በቃልፈርኒቸር {
    background: #f0e6ff;
}
.ቁምሳጥን {
    background: #e6ffe6;
}
.ቁምሳጥን1 {
    background: #eae6ff;
}
.ቁምሳጥን2 {
    background: #f0ffe6;
}
.ቁምሳጥን3 {
    background: #e6fff5;
}
.ቁምሳጥን4 {
    background: #e6ffe6;
}
.ቁምሳጥን5 {
    background: #e6ffe6;
}
.ቁምሳጥን6 {
    background: #fff8e6;
}

.ኣልጋ {
    background: #fdffe1;
}
.ኣልጋ1 {
    background: #e1feff;
}
.ኣልጋ2 {
    background: #e1fff7;
}
.ኣልጋ3 {
    background: #ffe4e1;
}
.ኣልጋ4 {
    background: #e1ffe8;
}
.ኣልጋ5 {
    background: #ecffe1;
}
.ሶፋ {
    background: #f4ffe6;
}
.ሶፋ1 {
    background: #e6fff5;
}
.ሶፋ2 {
    background: #fee6ff;
}
.ሶፋ3 {
    background: #ede6ff;
}

.መመገቢ {
    background: #fff2e6;
}
.መመገቢ1 {
    background: #f1ffe6;
}
.መመገቢ2 {
    background: #e6fcff;
}

.ወንበር {
    background: #daffcc;
}

.ቦፌ {
    
    background: #e6fff3;
}
.ቦፌ1 {
    
    background: #e6e8ff;
}
.ቦፌ2 {
    
    background: #e6fffc;
}
.ቦፌ3 {
    
    background: #ebe6ff;
}
.መመላኽዒ1 {
    
    background: #e6fff9;
}
.መቀመጢቴቪ1 {
    
    background: #edffe6;
}

/* HOVER */
.card:hover {
    transform: scale(1.05);
}

/* POPUP */
#popup {
    display: none;
    position: fixed;
    background: rgba(0,0,0,0.8);
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#popup img {
    width: 60%;
}

/* MOBILE */
@media (max-width: 768px) {

    .service-container {
        grid-template-columns: 1fr;
    }

    nav li {
        display: block;
        margin: 10px;
    }

    #popup img {
        width: 95%;
    }
}